Gerando um arquivo CSV para Análise Diagnóstica:

In [8]:
import pandas as pd

In [9]:
dados_diagnostica = {
    "Mes": ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto"],
    "Acessos": [5000, 4500, 4000, 4800, 5300, 4700, 4900, 4600],
    "Conversoes": [250, 200, 150, 240, 260, 230, 240, 220],
    "Origem": ["Orgânico", "Pago", "Orgânico", "Direto", "Orgânico", "Pago", "Direto", "Pago"],
    "Promocao": [1, 0, 1, 0, 1, 1, 0, 1]
}

In [10]:
df_diagnostica = pd.DataFrame(dados_diagnostica)

df_diagnostica

         Mes  Acessos  Conversoes    Origem  Promocao
0    Janeiro     5000         250  Orgânico         1
1  Fevereiro     4500         200      Pago         0
2      Março     4000         150  Orgânico         1
3      Abril     4800         240    Direto         0
4       Maio     5300         260  Orgânico         1
5      Junho     4700         230      Pago         1
6      Julho     4900         240    Direto         0
7     Agosto     4600         220      Pago         1

In [11]:
path_diagnostica = 'conversao_site.csv'
df_diagnostica.to_csv(path_diagnostica, index=False)